*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Noto Sans JP;
}

body{
    height: 100vh;
    width: 100%;
}

:root{
    --color-orange: hsl(31, 96%, 54%);
    --color-lightblue: hsl(198, 76%, 71%);
    --color-darkblue: hsl(194, 100%, 27%);

    --navbar-heigth: 2em;
    --border: black 0px solid;

}

/* --- Nav Bar --- */
nav{
    position: sticky;
    z-index: 5;
    width: 100%;
    height: var(--navbar-heigth);

    display: flex;
    justify-content: space-evenly;

    background: var(--color-orange);
    border-bottom: var(--border);

}
a{
    color: whitesmoke;
    text-decoration: none;
}

/* --- Main Page --- */
#main{
    display: grid;
    grid-template: 
        '.' var(--navbar-heigth)
        'mainTitle' max-content
        'mainDescription' max-content
        'mainImg' 1fr
        /100%
    ;
    align-content: space-between;
}

#main :is(h1, p){
    color: var(--color-orange);
}

#main h1{
    grid-area: mainTitle;
}

#main p{
    grid-area: mainDescription;
}

#main div{
    grid-area: mainImg;
    height: 100%;
    width: 100%;

    background: var(--img-orange2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* --- Description Page --- */
#description{   
    position: relative;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template: 
        '.' var(--navbar-heigth)
        'descTitle' max-content
        'descDescription' max-content
        'descImg' 1fr
        /100%
    ;
    align-content: space-between;

}

#description :is(h1, p){
    color: var(--color-darkblue);
}

#description h1{
    grid-area: descTitle;
}

#description p{
    grid-area: descDescription;
}

.descImg{
    grid-area: descImg;
    
    background: var(--img-mix);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    

/* --- boilerplate --- */
section{
    position: relative;
    height: 100%;
    width: 100%;
}

section h1{
    text-align: center;
    margin-top: 2em;
}

section p{
    text-align: justify;
    padding: 2em;
}

section div{
    height: 100%;
    width: 100%;
    border-top: var(--border);
}

/* --- img src -- */
:root{
    --img-orange0: url(https://images.unsplash.com/photo-1583073600538-f219abfb20bc);
    --img-orange1: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64);
    --img-orange2: url(https://images.unsplash.com/photo-1551410224-699683e15636);

    --img-pomelo: url(https://images.unsplash.com/photo-1556804335-2fa563e93aae);

    --img-mix: url(https://images.unsplash.com/photo-1622267224551-8063a2d4fbb4)
}

