*{
    font-family: spartan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#flag, #icon{
    /*Just at first load*/
    visibility: hidden;
}

.weatherDescription{
    text-transform: capitalize;
}

#weatherForecast{
    display: flex;
    gap: 2em;
}

.imperial{
    background: red;
}



/* Input Section */
.inputSection{
    width: 100%;
    padding-top: 1em;
}

.searchBar{
    display: flex;
    background-color: red;
    border-radius: 500px;
    margin: 0em 1em 0.5em 1em;
}
.searchBar > *{
    border: none;
    outline: none;
    padding: 0.5em;
}

.inputField{
    width: 80%;
    border-radius: 500px 0px 0px 500px ;
}
.inputBtn{
    width: 10%;
    border-radius: 0px 500px 500px 0px ;
}
.unitsBtn{
    width: 10%;
    border-radius: 0px;
}

.suggestions{
    position: absolute;
    min-width: max-content;
    width: 75%;
    left: 12.5%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    font-size: 75%;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;

}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.suggestions li{
    background-color: whitesmoke;
    width: fit-content;
    display: flex;
    border-radius: 5px;
    list-style: none;
    padding: 0.5em;
    transition: all 0.5s;
}
.suggestions li:hover{
    background-color: rgb(228, 222, 222);
    align-self: center;
    transform: scale(1.2);
}
.suggestions li img{
    width: 25px;
}

/* Current Country Info */

.currentCountryInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
}

#flag{
    height: 1em;
}
.location{
    font-size: 1em;
}
.coordinates{
    font-size: 75%;
    align-self: center;
}

/* weather current */

#weatherCurrent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentMain{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#icon{
    height: 2em;
}

.currentData{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.currentData > *{
    font-size: 75%;
    padding: 0.5em;
}

/* Weather Forecast */

#weatherForecast{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.day{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    margin: 1em;
    border: gray 1px solid;

}
.day:hover{
    
}

.day > *{
    padding-top: 0.5em;
}

.date{
    background: none;
}

.forecastMain{
    display: flex;
    width: max-content;
    gap: 1em;
    padding: 0.5em;
}

.weatherDescription{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.minMax{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.forecastData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 1em;
    font-size: 75%;
}

.dayIcon{
    height: 35px;
    background: gray;
    border-radius: 50px;
    
}