*{
    font-family: spartan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

#flag, #icon, #weatherCurrent{
    /*Just at first load*/
    visibility: hidden;
}

.weatherDescription{
    text-transform: capitalize;
}


.imperial{
    background: red;
}



/* Input Section */
.inputSection{
    padding-top: 1em;
}

.searchBar{
    display: flex;
    background-color: red;
    border-radius: 500px;
    margin: 0em 1em 0.5em 1em;
}
.searchBar > *{
    border: none;
    outline: none;
    padding: 0.5em;
}

.inputField{
    width: 80%;
    border-radius: 500px 0px 0px 500px ;
}
.inputBtn{
    width: 10%;
    border-radius: 0px 500px 500px 0px ;
}
.unitsBtn{
    width: 10%;
    border-radius: 0px;
}

.suggestions{
    position: absolute;
    width: 75%;
    left: 12.5%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    font-size: 90%;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;

    transition: all 1s;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.suggestions li{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    list-style: none;
    padding: 0.5em;
    transition: all 0.5s;
}

.suggestions li:hover{
    background-color: rgb(228, 222, 222);
    align-self: center;
    transform: scale(1.2);
}

.suggestions li img{
    height: 1.5em;
    width: 2.25em;
}

.suggestions li div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* Current Country Info */

.currentCountryInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
}

#flag{
    height: 1em;
}
.location{
    font-size: 1em;
    text-align: center;
}
.coordinates{
    font-size: 90%;
    align-self: center;
    text-align: center;
}

/* weather current */

#weatherCurrent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.currentMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#icon{
    height: 2em;
}

.currentData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.currentData > *{
    font-size: 90%;
    padding: 0.5em;
}

/* Weather Forecast */

#weatherForecast{
    /* 
    display: grid;
    grid-template:
        '.   day0   .' 1fr
        'day1 day2 day3' 1fr 
        'day4 day5 day6' 1fr
        '.   day7   .' 1fr
        /1fr 1fr 1fr
    ;
    gap: 0; 
    */
}
.day0{grid-area: day0;}
.day1{grid-area: day1;}
.day2{grid-area: day2;}
.day3{grid-area: day3;}
.day4{grid-area: day4;}
.day5{grid-area: day5;}
.day6{grid-area: day6;}
.day7{grid-area: day7;}

.day{

    position: absolute;
    visibility: hidden;

    height: 100%;
    width: 100%;
    border-radius: 5em;

    justify-self: center;
    align-self: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: white;

    border: gray 1px solid;
    box-shadow: 0 0 2px 0px gray;
    
}

.expand{
    visibility: visible;
    animation: expand 1s;
    animation-fill-mode: both;
}
.shrink{
    visibility: visible;
    animation: shrink 1s;
    animation-fill-mode: both;
}

@keyframes expand {
    0%{
        height: 100%;
        width: 100%;
        left: 100%;
    }
    100%{
        height: 100%;
        width: 100%;

        left: 0%;
        
        border-radius: 0;
    }
}
@keyframes shrink{
    0%{
        position: absolute;

        height: 100%;
        width: 100%;

        left: 0%;
        
        border-radius: 0;

    }
    100%{
        position: absolute;

        height: 100%;
        width: 100%;

        left: -100%;
    }
}

.day div{
    display: none;
}

@keyframes display {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* .day:hover div{
    
    display: block;
    animation: display 2s;
    animation-fill-mode: both;
} */

.day > *{
    padding-top: 0.5em;
}

.date{
    background: none;
}

.forecastMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}
.weatherDescription{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.minMax{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.forecastData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 1em;
    font-size: 90%;
}

.dayIcon{
    height: 35px;
    background: rgb(158, 203, 230);
    border-radius: 50px;
    
}

/* Sizing */

.mainContainer{
    overflow-x: hidden;
    height: 100vh;
    background: rgb(64, 119, 107);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: 120%;
    max-width: 500px;
    border: black 1px solid;
    position: relative;

    display: grid;
    grid-template:
        'input' max-content
        'country' max-content
        'weather' minmax(max-content,auto)
        'forecast' 50%
        /100%
    ;

    align-content:space-between ;

}

.inputSection{
    background-color: blueviolet;
}
.currentCountryInfo{
    background-color: burlywood;
}
#weatherCurrent{
    background-color: cadetblue;
}
#weatherForecast{
    background-color: cornflowerblue;
    
    display: grid;
    grid-template:
        '.   day0   .' max-content
        'day1 day2 day3' max-content
        'day4 day5 day6' max-content
        '.   day7   .' max-content
        /max-content max-content max-content
    ;



    justify-content: space-evenly;
    align-content: space-around;

}

.dayBtn{

    justify-self: center;
    background-color: whitesmoke;

    height: 100%;
    width: 100%;

    border-radius: 500px;

    padding: 1em;

}