*{
    text-align: center;
    font-family: spartan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

    background: linear-gradient(
        45deg,
        rgb(173, 174, 243),
        rgb(228, 195, 167)
    );
}

li{
    list-style: none;
}
li img{
    width: 25px;
}

#flag, #icon{
    /*Just at first load*/
    visibility: hidden;
}


#weatherForecast{
    display: flex;
    gap: 2em;
}

.imperial{
    background: red;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

/* Input Section */
.searchBar{
    background-color: none;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar > *{
    border: none;
    outline: none;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.inputField{
    border-radius: 500px 0px 0px 500px ;
}
.inputBtn{
    border-radius: 0px 500px 500px 0px ;
}
.unitsBtn{
    border-radius: 0px;
}

/* Current Country Info */

.currentCountryInfo{
    background: rgb(245, 173, 173);
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 1em;
}
#flag{
    height: 1em;
}
.location{
    font-size: 1em;
}
.coordinates{
    font-size: 75%;
    align-self: center;
}

/* weather current */

#weatherCurrent{
    background: rgb(177, 177, 240);
}

#icon{
    height: 2em;
}