*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- General Style --- */
body{
    background: linear-gradient(
        208deg,
        hsl(280deg 100% 50% / 54%),
        hsl(28deg 100% 50% / 33%)
    );
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: url(./curve.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



.section{
    position: relative;
    height: 60vh;
    width: 20vw;

    box-shadow: 1px 1px 3px 0px hsl(0, 0%, 0%);

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 2px;

    transition: all 0.25s;
}
.section:hover{
    border-radius: 0px;
    transform: scale(1.2);
    box-shadow:  0px 0px 0px 0px hsl(0, 0%, 0%);
}
.section:hover .overflow{
    box-shadow: inset 0px 0px 5px 0px hsl(0, 0%, 0%, 15%);
}

.overflow{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



img{
    width: 15vw;
    height: 15vw;
    margin: 1em;
    overflow: hidden;
    
    background: #062b55;
    border: hsl(0, 0%, 100%, 90%) solid 1px;
    
    box-shadow: -1px 2px 0.5em hsla(212, 87%, 18%, 0.25);
}

/* --- Item 1 ---*/
.n1{
    background:
    linear-gradient(
        180deg,
        rgb(4, 24, 65),
        hsl(210, 100%, 9%)
    );
}

.n1::-webkit-scrollbar{
    background: none;
    width: 15px;
}

.n1::-webkit-scrollbar-track{
    border-radius: 100px;
}


.n1::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 100px;
    border:  2px transparent solid;
    box-shadow: inset 0 0 0px 100px hsl(0, 0%, 50%);
}

.n1::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0px 100px hsl(0,0%, 65%);
} 

.n1::-webkit-scrollbar-button{
    display: none;
}


/* --- Item 2 ---*/
.n2{
    background:
    linear-gradient(
        180deg,
        hsl(220, 75%, 78%) ,
        hsl(210, 97%, 77%)
    );
}

.n2::-webkit-scrollbar{
    background: transparent;
    width: 15px;

}

.n2::-webkit-scrollbar-track{
    border-radius: 100px;
    border:  3px transparent solid;  
    box-shadow: inset 0px 0px 2px 1px  hsl(230, 100%, 0%, 50%);
}

.n2::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border:  3px transparent solid;
    box-shadow: inset 0 0 0px 100px rgba(1, 47, 255, 0.25);
}

.n2::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0px 100px rgb(68, 96, 221);
}


.n2::-webkit-scrollbar-button{
    background: transparent;
} 

/* --- Item 3 ---*/
.n3{
    background:
    linear-gradient(
        45deg,
        hsl(14, 84%, 53%) ,
        hsl(39, 80%, 60%)
    );
}

.n3::-webkit-scrollbar{
    background: transparent;
    width: 15px;

}

.n3::-webkit-scrollbar-track{
    background: hsla(15, 50%, 50%, 0.05);
    border:  3px transparent solid;  
    box-shadow: -1px 0px 1px 0px  hsl(14, 100%, 0%, 50%);
}

.n3::-webkit-scrollbar-thumb{
    border:  3px transparent solid;
    box-shadow: inset 0 0 0px 100px hsla(0, 0%, 0%, 0.35);
}

.n3::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0px 100px hsl(14, 66%, 55%);
} 

.n3::-webkit-scrollbar-button{
    background: transparent;
} 

/* --- Item 4 ---*/
.n4{
    background:
    linear-gradient(
        -45deg,
        hsl(352, 79%, 70%) ,
        hsl(351, 83%, 80%)
    );
}

.n4::-webkit-scrollbar{
    background: transparent;
    width: 15px;
}

.n4::-webkit-scrollbar-track{
    border:  3px transparent solid;  
    border-radius: 1000px;

}

.n4::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border:  2px transparent solid;
    box-shadow: inset 0 0 0px 100px pink;
}

.n4::-webkit-scrollbar-button{
    height: 15px;
    border-radius: 100px;
    border: 2px transparent solid;
    box-shadow: inset 0 0 0px 100px pink;

} 
.n4::-webkit-scrollbar-button:hover{
    box-shadow: inset 0 0 0px 100px rgb(248, 205, 212);
} 
.n4::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0px 100px rgb(248, 205, 212);
} 