*{
    margin: 0;
}

body{
    position: relative;

    background: linear-gradient(10deg,
    #062b55,
    #073569,
    #0b59b3,
    #0c5fbe,
    #0077ff);

    width: 100%;
    min-height: 100vh;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
    grid-template: 
        'input image' auto
        /50vh 1fr
    ;
}

.container{

}

img{
    width: minmax(30vh, 40vh);
    grid-area: image;
}

.inputField{
    grid-area: input;
}