*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Noto Sans JP;
}

body{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}


:root{
    --color-orange: hsl(31, 96%, 54%);
    --color-lightblue: hsl(198, 76%, 71%);
    --color-darkblue: hsl(194, 100%, 27%);

    --navbar-heigth: 2em;
    --border: black 0px solid;

    --a-color: var(--color-orange);
}

/* --- Nav Bar --- */
nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: var(--navbar-heigth);

    display: flex;
    justify-content: space-evenly;

    background: var(--color-orange);
    background: whitesmoke;
    box-shadow: 0 0 1px 1px var(--a-color);
}
a{
    color: whitesmoke;
    color: var(--a-color);
    text-decoration: none;
}

/* --- Main Page --- */

#main :is(h1, p){
    color: var(--color-orange);
}

#main .text{
    box-shadow: 0 0 2px 1px var(--color-orange);
}

#main .fruitImg{
    background: var(--img-orange2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* --- Description Page --- */
#description :is(h1, p){
    color: var(--color-darkblue);
}

#description .text{
    box-shadow: 0 0 2px 1px var(--color-darkblue);
}

#description .fruitImg{
    background: var(--img-mix);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/* section general */
section{
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--border)
}

.text{
    background: whitesmoke;
    margin: 0.5em;
    padding: 1em 0.5em 1em 0.5em;
}
.text h1{
    text-align: center;
}
.text p{
    text-align: justify;
    padding: 1em;
}

.fruitImg{
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/* --- img src -- */
:root{
    --img-orange0: url(https://images.unsplash.com/photo-1583073600538-f219abfb20bc);
    --img-orange1: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64);
    --img-orange2: url(https://images.unsplash.com/photo-1551410224-699683e15636);

    --img-pomelo: url(https://images.unsplash.com/photo-1556804335-2fa563e93aae);

    --img-mix: url(https://images.unsplash.com/photo-1622267224551-8063a2d4fbb4)
}

.toggle{
    background: red;
}