/*General Styling*/
*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        -145deg,
        hsl(204, 80%, 76%),
        hsl(202, 100%, 80%),
        #74A8E3,
        hsl(203, 97%, 56%),
        #2F80DE,
        #2463AB
        );
    font-family: poppins;
}

.mainContainer{
    border: solid #ffffff52 1vh;
    padding: 1vw;

    min-height: 100vh;
    width: 100%;

    display: flex;
    
    align-self: center;
    justify-content: center;

}

.about{
    background: linear-gradient(10deg,
        #062b55,
        #073569,
        #0b59b3,
        #0c5fbe,
        #0077ff);

    justify-content: center;
}

img{
    width: 100%;
    overflow: hidden;
}

.gridItem {
    box-shadow: -1px 2px 0.5em hsla(212, 87%, 18%, 0.25);
}

/*
Visual
------
Text
*/

p{
    text-align:center;
    font-size: 1em;
    padding: 1.5em;
    padding-top: 1vw;
    margin: 0;
    color: #fbfdff;
}

.about h1{
    text-align: center;
    padding-top: 1em;
    margin: 0;
}

img{
    /*Alt Text Style*/
    color: #fbfdff;
    text-align: center;
}

/*
General Styling
---------------
Grid Practice
*/

.gridContainer{  
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    
    justify-content: center;
    
    align-items: center;
    
    gap: 20px;
}

.gridItem {
    position: relative;
    opacity: 1;
    background: #062b55;
    border: hsl(0, 0%, 100%, 90%) solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px){
    
    .gridContainer{
        /* border: #002aff26 solid 1px; */
        /* display: grid; */
        /* justify-content: center; */
        
        column-gap: 40px;
        grid-template-columns: minmax(18vw, 29vh) repeat(3, minmax(14.5vw, 29vh));
        grid-template-areas: 
            "about item item item"
            "about item item item"
            "about item item item";
    }

    .about{
        grid-area: about;
    }

}

@media (min-width: 1370px){

    p{
        font-size: 1.3em;
        text-align: justify;
    }

}

/*
Grid Practice
-------------
Extra
*/

:root{
    --inital-size: 0%;
    --final-size: 85%;
    --alt-size: 75%;
}

.gridItem h1{
    position: absolute;
    z-index: 1;

    font-size: 1.5em;
    font-weight: lighter;
    color: #ffffff;

    opacity: 0;
    transition: opacity 0.91s;
}

.gridItem::after{
    z-index: 0;
    position: absolute;
    content: "";

    width: var(--inital-size);
    height: var(--alt-size);
    border-top: #ffffff88 2px solid;
    border-bottom: #ffffff88 2px solid;

    transition: width 1s;
}

.gridItem::before{
    z-index: 1;
    position: absolute;
    content: "";

    width: var(--alt-size);
    height: var(--inital-size);
    border-left: #ffffff55 2px solid;
    border-right: #ffffff55 2px solid;
    
    transition: height 1s;
}

.gridItem img{
    transition: opacity 1s;
}

/*On Hover*/

.gridItem:hover::after{
    width: var(--final-size);
    height: var(--alt-size);
}
.gridItem:hover::before{
    width: var(--alt-size);
    height: var(--final-size);
}

.gridItem:hover h1{
    opacity: 0.85;
}

.gridItem:hover img{
    opacity: 0.5;
}




















