*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        -145deg,
        hsl(204, 80%, 76%),
        hsl(202, 100%, 80%),
        #74A8E3,
        hsl(203, 97%, 56%),
        #2F80DE,
        #2463AB
        );
    font-family: poppins;
}

img{
    width: 100%;
    overflow: hidden;

    color: #fbfdff;
    text-align: center;
}

.gridItem h1{
    display: none;
    font-size: 1.5em;
    position: absolute;
    font-weight: lighter;
    color: #ffffffaa;
}

p{
    text-align:center;
    font-size: 1em;
    padding: 1.5em;
    padding-top: 1vw;
    margin: 0;
    color: #fbfdff;
}

.about{
    background: linear-gradient(10deg,
        #062b55,
        #073569,
        #0b59b3,
        #0c5fbe,
        #0077ff);

    justify-content: center;
}

.about h1{
    text-align: center;
    padding-top: 1em;
    margin: 0;
}

.mainContainer{
    border: solid #ffffff52 1vh;
    padding: 1vw;

    min-height: 100vh;
    width: 100%;

    display: flex;
    
    align-self: center;
    align-items: center;
    justify-content: center;
}

.gridItem {
    box-shadow: -1px 2px 0.5em hsla(212, 87%, 18%, 0.25);
}

/*
General styling
------------------
Grid Practice
*/

.gridContainer{  
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    
    justify-content: center;
    
    align-items: center;
    
    gap: 20px;
}

.gridItem {
    position: relative;
    opacity: 1;
    background: #062b55;
    border: hsl(0, 0%, 100%, 90%) solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1000px){
    
    .gridContainer{
        /* border: #002aff26 solid 1px; */
        /* display: grid; */
        /* justify-content: center; */
        
        column-gap: 40px;
        grid-template-columns: minmax(18vw, 29vh) repeat(3, minmax(14.5vw, 29vh));
        grid-template-areas: 
            "about item item item"
            "about item item item"
            "about item item item";
    }

    .about{
        grid-area: about;
    }

}

@media (min-width: 1370px){

    p{
        font-size: 1.3em;
        text-align: justify;
    }
    
}

/*
Grid Practice
------------------
Extra
*/






















