body{
    margin: 0;
    padding: 2.5vh;
    height: 95vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 95vw;
    background: linear-gradient(
        45deg,
        hsl(197, 100%, 80%),
        hsl(200, 60%, 75%),
        hsl(210, 50%, 70%),
        hsl(205, 40%, 70%));
    font-family: poppins;
}

.mainContainer{
    border: rgb(0, 0, 0) solid 1px;
    display: grid;
    grid-template-columns: 200px 250px;
}

.gridItem {
    opacity: 0.65;
    background: hsl(199, 90%, 50%);
    border: solid hsl(0, 0%, 100%) 1px;
}
.gridItem{
    padding: 0px;
    text-align:justify;
}

h1{
    font-weight: lighter;
}