body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 200px ,50vh ));
    gap: 1em;
    justify-content: center;
    align-content: center;
}

.container{
    height: 50vh;
    width: 50vh;
    /* border: black 2px solid; */
    
}

.pokeball{
    display: flex;
    justify-content: center;
    justify-items: center;
    
    height: 100%;
    width: 100%;

    border-radius: 100%;
    border: black  solid;
}

.pokeball.body{
    box-sizing: border-box;
    border-width: 0.3em;

    background: linear-gradient(
        0deg,
        white 45%,
        black 45%,
        black 55%,
        red 55%
    );


}

.pokeball.center{
    justify-self: center;
    align-self: center;
    height: 25%;
    width: 25%;
    /* border-width: 0.7em; */
    border: none;

    background: radial-gradient(
        white 0%,
        white 30%,
        black 31%,
        black 40%,
        white 41%,
        white 55%, 
        black 56%,
        black 
    );
}

img{
    width: 40vh;
}