
body{
    min-height: 100vh;
    font-family: inconsolata;
}

body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 200px ,50vh ));
    gap: 10vh;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.container{
    height: 50vh;
    width: 50vh;
    /* border: black 2px solid; */
    
}

.pokeball{
    display: flex;
    justify-content: center;
    justify-items: center;
    
    height: 100%;
    width: 100%;

    border-radius: 100%;
    border: black  solid;
    
    --degrees: 360deg;
    --scale: 1.5;
    --seconds: 1.5s;
    transition: transform var(--seconds) ease-in-out;
}

.pokeball.body{

    box-sizing: border-box;
    border-width: 0.3em;


    background: linear-gradient(
        0deg,
        white 44.8%,
        black 45%,
        black 55%,
        red 55.2%
    );


}

.pokeball.center{
    justify-self: center;
    align-self: center;
    height: 25%;
    width: 25%;
    /* border-width: 0.7em; */
    border: none;
    z-index: 0;

    background: radial-gradient(
        white 0%,
        white 30%,
        black 31%,
        black 40%,
        white 41%,
        white 55%, 
        black 56%,
        black 
    );
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transform: scale(2);
}
h1{
    padding: 0;
    margin: 0;
}
input{
    text-align: center;
}

/* transform */
.pokeball:hover{
    transform: rotate(var(--degrees)) scale(var(--scale));
}